<!-- <h1>Title:{{title}}</h1>
<h1>MY A is:{{a}}</h1>
<h1>My B is:{{b}}</h1>


<button (click)="inc()">Increase</button> -->
<!-- <h1>My name :{{name}}</h1>
<h1>My Mother name :{{mother_name}}</h1>
<h1>My Father name :{{father_name}}</h1> -->

<!-- <h1>a:{{a}}</h1>
<h1>b:{{b}}</h1>
<button (click)="swap()">Swap</button> -->


<!-- <h1 *ngIf="true">Hello</h1>
<h1 *ngIf="false">Bye Bye</h1> -->


<h1 *ngIf="status">Even</h1>
<h1 *ngIf="status">Odd</h1>

<h1 *ngIf="status";else elseBlock>Hello</h1>

<ng-template #elseBlock>
    <h1>Bye Bye</h1>
</ng-template>

<div [ngSwitch]="color">
<div *ngSwitchCase="'red'">Red </div>
<div *ngSwitchCase="2">Blue</div>
<div *ngSwitchCase="3">Green</div>
<div *ngSwitchCase="4">Yellow</div>
</div>

<p *ngFor="let col of Color">{{col}}</p>